@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/***** general */
:root {
    --sylvan-light: #e9ecd9;
    --sylvan-purple: #ae8cbe;
    --sylvan-blue: #6d6faa;
    --sylvan-indigo: #444573;
    --sylvan-lavender: #aeadcf;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100vh;
    touch-action: manipulation;
    font-family: "Press Start 2P", serif;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

#display-main {
    width: 100vw;
    margin: 0;
    padding: 0;

}


.bg-display {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.complete-screen-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100);
    z-index: 10;
}