#choice-1 {
    background-color: green;
}

#choice-2 {
    background-color: red;
}

.btn {
    height: 100px;
    width: 100px;
}

#blue-btn {
    display: none;
    background-color: blue;
}


.skin-choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skin-choice {
    width: 100px;
}