@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

#choice-1 {
    background-color: green;
}

#choice-2 {
    background-color: red;
}

.text-body {
    border: 2px solid purple;
    min-height: 200px;
}

html,
body {
    touch-action: manipulation;
    font-family: "Press Start 2P", serif;

}

.btn {
    height: 100px;
    width: 100px;
}

#blue-btn {
    display: none;
    background-color: blue;
}

.skin-choices {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
    justify-content: space-around;
    align-items: space-around;
}

.skin-choices-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
    transition: 800ms;

}

.skin-choice-display {
    width: 33vw;
    transition: 800ms;

}
.skin-choice {
    width: 80vw;
    margin-left: 10vw;
    max-height: 40vh;
}

.skin-winner {
    transition: 800ms;
    width: 66vw;
}

.character-select-div-display{
    border: 5px solid purple;
    transition: 800ms;

}

.bg-mobile {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.vote-prompt {
    color: blue;
    border: 2px solid red;
    background-color: yellow;
}