@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: Jazfont-Regular;
    src: url("/fonts/Jazfont-RegularOTF.otf") format("opentype"),
        url("/fonts/Jazfont-RegularTTF.ttf") format("truetype");
}

/***** general */
:root {
    --sylvan-light: #e9ecd9;
    --sylvan-purple: #ae8cbe;
    --sylvan-blue: #6d6faa;
    --sylvan-indigo: #444573;
    --sylvan-lavender: #aeadcf;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    background-color: black;
    /* overflow-x: hidden;  */
    overflow-y: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

html,
body {
    /* touch-action: manipulation; */
    /* font-family: "Press Start 2P", serif; */
    font-family: "Jazfont-Regular", serif !important;
    --sylvan-indigo: #444573;
    padding: 0;
    margin: 0;
}

.bg-mobile {
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#main {
    overflow-y: hidden;
    z-index: 1;
}

.default-bg {
    z-index: -1;
}

.btn {
    height: 100px;
    width: 100px;

}

button {
    border-radius: 0;
    color: black;
    background-color: white;
    font-family: "Jazfont-Regular", serif !important;

}




.landscape-required {
    background-color: var(--sylvan-light);
    border: 2px solid var(--sylvan-indigo);
    width: 80vw;
    height: fit-content;
    padding: 10px 6px;
    margin: 10vh auto 0 auto;
}

.please-rotate {
    text-align: center;
}




/* mobile displays */
#mobile-bg {
    z-index: -1;
    object-fit: fill;
}

.sprite {
    position: absolute;
    width: 100px;
    height: 100px;
}

#dvd-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sound-icon-bg {
    z-index: 200;
}

#sound-icon-1 {
    clip-path: inset(0 50% 0 0);

    z-index: 201;
}

#sound-icon-2 {
    clip-path: inset(0 0 0 50%);
    z-index: 201;
}



.floater {
    position: absolute;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.char-div img {
    position: absolute;
    top: 0;
    transition: transform 500ms;
    width: 15vw;
}

#pino-char,
#jaz-char {
    position: absolute;
    width: 15vw;
    height: 26vh;
}





.complete-screen-img {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--vw, 1vw) * 100);
    height: calc(var(--vh, 1vh) * 100);
}


/* fight */
#swipe-prompt {
    color: var(--sylvan-light);
    text-align: center;
    font-size: 80px;
    /* border: 1px solid red; */
}

/* Madlib */
#word-type {
    color: var(--sylvan-light);
    height: 33vh;
    text-align: center;
    font-size: 100px;
    margin: 12px 0 0 0;
    padding: 0;
    /* border: 1px solid red; */
}

.madlib-submission-div {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

#madlib-input {
    min-height: 80px;
    width: 66%;
    font-size: 40px;
    text-align: center;
    font-family: "Jazfont-Regular", serif !important;

}

#submit-madlib {
    margin-top: 24px;
    height: 42px;
    font-size: 36px;
    font-weight: bolder;
}

#madlib-blackout {
    z-index: 1000;
    visibility: hidden;
}

#madlib-timer {
    font-size: 48px;
    color: var(--sylvan-light);
    position: absolute;
    width: 50px;
    top: 0;
    right: 0;
}

.vote-bg {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at 20% 30%, var(--sylvan-blue), transparent 40%),
        radial-gradient(circle at 70% 20%, var(--sylvan-purple), transparent 50%),
        radial-gradient(circle at 50% 70%, var(--sylvan-light), transparent 50%),
        radial-gradient(circle at 80% 80%, var(--sylvan-indigo), transparent 40%),
        radial-gradient(circle at 30% 60%, var(--sylvan-lavender), transparent 50%);
    background-blend-mode: screen;
    animation: animate 15s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        filter: hue-rotate(0deg) blur(10px);
    }

    50% {
        filter: hue-rotate(90deg) blur(20px);
    }
}

/***** skin votes */
.skin-winner {
    transition: 800ms;
    width: 150vw;
}


/***** votes */
.vote-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#vote-prompt-mobile,
#choose {
    text-align: center;
}

#vote-banner-text {
    color: white;
    position: absolute;
    z-index: 20;
    width: 80vw;
    top: 4vh;
    left: 10vw;
    /* border: 1px solid red; */
    text-align: center;
    font-size: smaller;
    line-height: 1.5rem;
    font-size: 1.6em;
}

.vote-btns {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
}

#vote-b-img {
    clip-path: inset(0 0 0 50%);
    z-index: 100;
}

#vote-a-img {
    clip-path: inset(0 50% 0 0);
    z-index: 100;
}

/***** Game */
.enemy {
    right: -50px;
    position: absolute;
    border-bottom-left-radius: 25%;
}

.spike {
    bottom: 13%;
    height: 25%;
    border-top-left-radius: 25%;
}

.bat {
    height: 18%;
    width: auto;
    top: 30%;
    z-index: 2;
    object-fit: fill;
}

#game-box {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.game-bg {
    min-width: 100%;
    height: auto;
    left: auto;
    object-fit: contain;
}


#game-character-sprite {
    position: absolute;
    left: 10%;
    height: 40%;
    width: auto;
    max-width: 25%;
    bottom: 20%;
    object-fit: contain;
    overflow: visible;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.game-character-sprite-div {
    position: absolute;
    left: 15%;
    height: 90%;
    width: 20%;
    bottom: 0;
    overflow: visible;
    /* border: 1px solid red; */
}



.fitted-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: visible;
}

.score-ctr {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
}

#score-star {
    height: 4rem;
}

#score-num {
    color: gold;
    text-align: center;
    font-size: 4rem;
}

.game-title {
    height: 10vh;
    margin: 0;
    text-align: center;
    padding: 0;

}

.leaderboard-field {
    min-height: 50%;
    max-height: 50%;
    overflow-y: auto;
}

/* Jump Animation: Up and then Down over 0.5s */
@keyframes jumpAnimation {
    0% {
        bottom: 20%;
    }

    50% {
        bottom: 70%;
    }

    /* Adjust jump height */
    100% {
        bottom: 20%;
    }
}

/* Dive Animation: Down and then Up over 0.5s */
@keyframes diveAnimation {
    0% {
        bottom: 20%;
    }

    /* Start from a higher position */
    50% {
        bottom: -20%;
    }

    /* Dive down */
    100% {
        bottom: 20%;
    }
}


@keyframes moveLeft {
    from {
        left: 100%;
        /* Start off the screen on the right */
    }

    to {
        left: -50px;
        /* Move to the left and off the screen */
    }
}

@keyframes taunt {
    0% {
        rotate: -33deg;
        /* Start off the screen on the right */
    }

    50% {
        rotate: 33deg;
        /* Move to the left and off the screen */
    }

    100% {
        rotate: -33deg;
        /* Start off the screen on the right */
    }
}

.jump {
    animation: jumpAnimation 0.7s ease-in-out;
}

.dive {
    animation: diveAnimation 0.7s ease-in-out;
}



#replay-modal {
    visibility: hidden;
    position: absolute;
    left: 15%;
    width: 70%;
    max-height: 80vh;
    top: 20vh;
    background-color: var(--sylvan-purple);
    border: 3px solid black;
    z-index: 3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.replay-modal-l {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    border-right: 3px solid black;
    height: 100%;
}

.replay-modal-r {
    width: 50%;
    height: 100%;
    border-left: 3px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.replay-modal-r-top {
    width: 100%;
    max-height: 25%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#welcome-p {
    padding: 0;
    margin: 0;
    text-align: center;
}


#modal-score {
    font-size: 6rem;
}

.play-again,
#submit-prompt-btn {
    font-size: 2rem;
    padding: 8px;
}


.modal-enemy-img {
    height: 80%;
    width: 33%;
    object-fit: contain;
    animation: taunt 1s infinite;
}

.countdown {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    height: 75%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--sylvan-blue);
    display: flex;
    justify-content: center;
    /* centers horizontally */
    align-items: center;
    /* centers vertically */
}




#add-to-leaderboard-btn {
    margin-top: 8px;
}

#add-to-leaderboard-modal {
    visibility: hidden;
    position: absolute;
    left: 15%;
    width: 70%;
    height: 40vh;
    top: 20vh;
    background-color: var(--sylvan-light);
    border: 3px solid black;
    z-index: 4;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--sylvan-lavender);
}


.add-to-leaderboard-modal-btns {
    display: flex;
    justify-content: center;
}

.add-to-leaderboard-modal-btns button {
    padding: 8px;
    margin-left: 8px
}

.add-to-leaderboard-modal-type-name {
    display: flex;
    justify-content: space-around;
    height: 50px;
    /* border: 1px solid purple; */
    margin-top: 20px;
    width: 40%;
    padding: 8px;
    border: 3px solid black;
    background-color: white;
    position: relative;
}

.score-letter {
    font-family: "Press Start 2P", serif;
    border: 0;
    border-bottom: 1px solid black;
    width: 20px;
}

#score-letter-4 {
    width: 50%;
    letter-spacing: 2vw;
    text-align: center;
}


a {
    color: black;

}

/* When in portrait mode */
@media only screen and (max-width: 700px) and (orientation: portrait) {
    .landscape-required {
        display: bzk;
    }

    #main {
        visibility: hidden;
    }

    #replay-modal {
        opacity: 0;
    }
}

/* When in landscape mode */
@media only screen and (orientation: landscape) {
    .landscape-required {
        display: none;
    }


    .play-again,
    #submit-prompt-btn,
    #submit-score {
        font-size: 1.5rem;
        padding: 4px;
    }


    #main {
        visibility: visible;
    }

    #welcome-p {
        padding: 0;
        margin: 0;
        text-align: center;
        font-size: 1rem;
        line-height: 1.2rem;
    }

    #replay-modal {
        min-height: fit-content;
        height: 85vh;
        top: 7.5vh;
        width: 95vw;
        left: 2.5vw;
    }

    #modal-score {
        font-size: 3rem;
    }


}


@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}