@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
    font-family: Jazfont-Regular;
    src: url("./fonts/Jazfont-RegularOTF.otf") format("opentype"),
        url("/fonts/Jazfont-RegularTTF.ttf") format("truetype");
}


/***** general */
:root {
    --sylvan-light: #e9ecd9;
    --sylvan-purple: #ae8cbe;
    --sylvan-blue: #6d6faa;
    --sylvan-indigo: #444573;
    --sylvan-lavender: #aeadcf;
}


html {
    position: fixed;
    /* background-color: black; */
    overflow: hidden;
    height: 100vh;
    touch-action: manipulation;
    /* font-family: "Press Start 2P", serif; */
    font-family: "Jazfont-Regular", serif !important;
    /* border: 5px solid green; */
    padding: 0;
}

body {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

#display-main {
    width: 100vw;
    margin: 0;
    padding: 0;
    /* border: 1px solid blue */
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

/* scrolling text container */
.display-text-body {
    border: 2px solid var(--sylvan-lavender);
    min-height: 200px;
}


/* characters */
/* .character {
    width: 280px;
    height: 500px;
    position: relative;
}

.character-part {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
} */

#wizard-hat {
    z-index: 100;
}

.char-size-ctr {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

#pino-size-ctr {
    transform-origin: 18% center;
}

#jaz-size-ctr {
    transform-origin: 40% 50%;
    z-index: 100;
}

.char-div {
    width: 100%;
    height: 50%;
    z-index: 100;
}

.char-div img {
    position: absolute;
    top: 0;
    transition: transform 250ms, top 500ms;
    width: 50%;
    object-fit: contain;
}

#pino-char img {
    transform-origin: 25%;
    /* border: 1px solid red */
}

#jaz-char img {
    transform-origin: 75%;
    /* border: 1px solid red */
}

.black-mask {
    mix-blend-mode: multiply;
    filter: brightness(0);
}

/* intro stuff */

.intro-img {
    visibility: hidden;
}

#yarn {
    left: -800px;
}

#naps {
    left: 800px;
}

#gutters {
    top: 800px;
}

#box-1,
#box-2 {
    top: -900px;
}

#yarn,
#tilly-img {
    transition: left 1000ms ease-in-out;
}

#castle-back {
    z-index: 10;
}

#tilly-gif,
#tilly-img {
    z-index: 11;
}

#castle-front {
    z-index: 12;
}

/* river */

#boat-back {
    z-index: 50;
}

#boat-front {
    z-index: 150;
}

/* CHARACTER REVEAL */
.skin-asset-bg {
    z-index: 3;
    top: 75vh !important;
    transition: 1000ms;
}

.skin-asset {
    z-index: 4;
    top: 75vh !important;
    transition: 1000ms;
}

#asset-1 {
    z-index: 5;
}

.pino-reveal img {
    width: 1000px;
    left: 675px;
}

.jaz-reveal img {
    width: 1000px;
    left: 175px;
}


/* INTRO PAGE SWITCHER */
#intro-gif,
#intro-qr-page,
#intro-leaderboard {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    z-index: 1;
}

.leaderboard {
    position: absolute;
    z-index: 11;
    left: 700px;
    top: 400px;
    font-size: large;
    line-height: 42px;
}

.score-entry {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.score-part {
    width: fit-content;
}

/* Ensures only the active page is on top */
.active {
    z-index: 2;
}

.slide-in {
    animation: slideIn 1s ease-in-out forwards;
}

.slide-out {
    animation: slideOut 1s ease-in-out forwards;
}

.slide-up {
    animation: slideUp .4s ease-in-out forwards;
}

.slide-down {
    animation: slideDown .4s ease-in-out forwards;
}

.slide-in-fast {
    animation: slideIn .4s ease-in-out forwards;
}

.slide-out-fast {
    animation: slideOut .4s ease-in-out forwards;
}

.fade-in-fast {
    animation: fadein 1s ease-in-out forwards;
}

.fade-out-fast {
    animation: fadeOut 1s ease-in-out forwards;
}

.shaking {
    animation: shake 100ms linear infinite;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(10px);
    }

    50% {
        transform: translateX(0);

    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
        /* Moves element below the viewport */
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100vh);
        /* Start from below the viewport */
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}





.text-body {
    /* background-color: #aeadcf; */
    position: absolute;
    left: 40%;
    top: 45%;
    /* border: 1px solid red; */
    color: #ffbd92;
    z-index: 3;
    max-width: 40%;
    min-width: 40%;
    height: 40%;
    line-height: 3.5rem;
    font-size: 3rem;
    transition: left 500ms ease-in-out, opacity 500ms ease-in-out;

    font-weight: 400;
    padding: 0 20px;
}



/* Container for the background images */
#sandbox-bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    /* behind your other content */
}

#sandbox-dialogue-box,
#sandbox-dialogue-sprite-box {
    z-index: 1;
    transition: left 500ms ease-in-out;
    /* behind your other content */
}

#npc,
#npc-size-ctr {
    z-index: 5;
    /* transition: transform 250ms ease-in-out, top 500ms ease-in-out; */
    transition: transform 250ms ease-in-out;
}

/* Background images */
.complete-screen-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    left: 0;
    top: 0;
}


#map {
    z-index: 50;
}

#map-border {
    z-index: 51;
}



.pino-dvd,
.jaz-dvd {
    position: absolute;
    width: 25%;
    /* border: 1px solid red; */
}

.pino-dvd img {
    position: absolute;
    width: 15vw;
    height: 26vh;
    object-fit: contain;
    animation: rotate360 15s linear infinite;
    transition: transform 0ms;
}



.jaz-dvd img {
    position: absolute;
    width: 15vw;
    height: 26vh;
    object-fit: contain;
    animation: rotate360 12s linear infinite;
    transition: transform 0ms;
}


#dvd-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}


/* Background images */
#sandbox-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures the image covers the container */
    transition: opacity 1s ease, filter 1s ease;
    filter: blur(0);
    opacity: 1;
}

#sandbox-dialogue-sprite,
#sandbox-dialogue-name {
    z-index: 2;
    transition: transform ease-in-out 500ms;
}

#sandbox-location-banner,
#sandbox-location-banner-text {
    left: -100vw;
    transition: left 1.5s ease-in-out;
}

#sandbox-location-banner-text {
    font-size: 5em;
    color: white;
    text-align: center;
    padding-left: 120px;
    padding-top: 20px;
    z-index: 100;
}

/*****Display Welcome  */
.instructions-scroll-ctr {
    position: absolute;
    top: 40px;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 50vh;
    font-size: small;
}

.scroll {
    position: absolute;
    width: 40vw;
    height: 50vh;
    top: 0;
    right: 0;
}

#qrcode1,
#qrcode2 {
    max-width: 5vw;
    max-height: 5vw;
    min-height: 5vw;
    position: absolute;
    bottom: 234px;
    z-index: 10;
}

#qrcode1 {
    position: absolute;
    left: 53px;
}

#qrcode2 {
    position: absolute;
    right: 210px;
}

.vote-bg {
    z-index: -1;
    object-fit: fill;
    /* background-color: rgb(175, 145, 189); */
}

#vote-prompt {
    z-index: 999;
}

.vote-heading,
.vote-banner,
.vote-selection-bg {
    z-index: 2;
}

.vote-selection-img {
    z-index: 20;
}

.vote-banner-text {
    top: 8.5vh;
    color: white;
    z-index: 10;
    position: absolute;
    left: 13vw;
    /* border: 1px solid red; */
    width: 74vw;
    height: 6vh;
    font-size: 32px;
    text-align: center;
    line-height: 2.5rem;
}


.vote-time-div {
    position: relative;
    background-color: var(--sylvan-light);
    width: 100%;
    height: 5vh;
    z-index: 50;
    left: 0;
}

#health-bar-ctr {
    position: absolute;
    width: 80vw;
    min-height: 10vh;
    border: 4px solid black;
    top: 5vh;
    left: 10vw;
}

#health-bar {
    background-color: red;
    width: 100%;
    min-height: 10vh;
}

@keyframes voteTimer {
    0% {
        width: 100%;
    }

    /* Adjust jump height */
    100% {
        width: 0;
    }
}

@keyframes rotate360 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@keyframes spin-smacked {
    0% {
        transform: rotateY(0deg) rotateZ(25deg);
        /* Initial position with tilt */
    }

    10% {
        transform: rotateY(720deg) rotateZ(25deg);
        /* Fast spin with tilt */
    }

    30% {
        transform: rotateY(1440deg) rotateZ(25deg);
        /* More spinning with tilt */
    }

    60% {
        transform: rotateY(1800deg) rotateZ(25deg);
        /* Slowing down with tilt */
    }

    100% {
        transform: rotateY(2160deg) rotateZ(0deg);
        /* Returning to original position */
    }
}

.smacked-spin {
    animation: spin-smacked 1.8s ease-out forwards;
}


@keyframes flatten-squash {
    0% {
        transform: scaleY(1);
        /* Normal size */
        transform-origin: bottom;
        /* Squash from the bottom */
    }

    30% {
        transform: scaleY(0.2);
        /* Flatten towards the bottom */
        transform-origin: bottom;
        /* Keep squashing from the bottom */
    }

    60% {
        transform: scaleY(1.2);
        /* Stretch a bit above normal size */
        transform-origin: bottom;
        /* Keep the bounce effect from the bottom */
    }

    100% {
        transform: scaleY(1);
        /* Return to normal size */
        transform-origin: bottom;
        /* Ensure the final position stays normal */
    }
}

.flatten-squash {
    animation: flatten-squash 1s ease-out forwards;
}